In [1]:
%reload_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [2]:
%%sql
create database spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
(mysql.connector.errors.DatabaseError) 1007 (HY000): Can't create database 'spotify_db'; database exists
[SQL: create database spotify_db;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [3]:
%%sql

use spotify_db;
CREATE TABLE IF NOT EXISTS spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
)

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql

use spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [5]:
%%sql
truncate table spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [6]:
import prettytable
print([name for name in prettytable.__dict__.keys() if name.isupper()])

['_DEPRECATED_ALL', '_DEPRECATED_DEFAULT', '_DEPRECATED_DOUBLE_BORDER', '_DEPRECATED_FRAME', '_DEPRECATED_HEADER', '_DEPRECATED_MARKDOWN', '_DEPRECATED_MSWORD_FRIENDLY', '_DEPRECATED_NONE', '_DEPRECATED_ORGMODE', '_DEPRECATED_PLAIN_COLUMNS', '_DEPRECATED_RANDOM', '_DEPRECATED_SINGLE_BORDER']

In [7]:
%config SqlMagic.style = "PLAIN_COLUMNS"

In [8]:
import prettytable
styles = [name for name in prettytable.__dict__.keys() if name.isupper()]
print(styles)

['_DEPRECATED_ALL', '_DEPRECATED_DEFAULT', '_DEPRECATED_DOUBLE_BORDER', '_DEPRECATED_FRAME', '_DEPRECATED_HEADER', '_DEPRECATED_MARKDOWN', '_DEPRECATED_MSWORD_FRIENDLY', '_DEPRECATED_NONE', '_DEPRECATED_ORGMODE', '_DEPRECATED_PLAIN_COLUMNS', '_DEPRECATED_RANDOM', '_DEPRECATED_SINGLE_BORDER']

In [9]:
%config SqlMagic.style = "MARKDOWN"

In [10]:
pip install --upgrade prettytable

Requirement already satisfied: prettytable in c:\users\rishik\anaconda3\lib\site-packages (3.17.0)
Requirement already satisfied: wcwidth in c:\users\rishik\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import prettytable

# Find all available style constants in your prettytable version
styles = [name for name in prettytable.__dict__.keys() if name.isupper()]
print("Available styles:", styles)

# Pick the first available style automatically
if styles:
    chosen_style = styles[0]
    print("Using style:", chosen_style)

    # Apply it to SqlMagic
    %config SqlMagic.style = chosen_style
else:
    print("No styles found in prettytable.__dict__")

Available styles: ['_DEPRECATED_ALL', '_DEPRECATED_DEFAULT', '_DEPRECATED_DOUBLE_BORDER', '_DEPRECATED_FRAME', '_DEPRECATED_HEADER', '_DEPRECATED_MARKDOWN', '_DEPRECATED_MSWORD_FRIENDLY', '_DEPRECATED_NONE', '_DEPRECATED_ORGMODE', '_DEPRECATED_PLAIN_COLUMNS', '_DEPRECATED_RANDOM', '_DEPRECATED_SINGLE_BORDER']
Using style: _DEPRECATED_ALL

In [16]:
%%sql
select * from spotify_db.spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[(1, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 91, 3.71622),
 (2, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 63, 3.70333),
 (3, 'Time is Running Out', 'Muse', 'Absolution', 3, 3.95065),
 (4, 'Uprising', 'Muse', 'The Resistance', 78, 5.08067),
 (5, 'Despacito', 'Luis Fonsi', 'VIDA', 82, 3.82267),
 (6, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 7, 3.70125),
 (7, 'Lover', 'Taylor Swift', 'Lover', 84, 3.68843),
 (8, 'Shape of You', 'Ed Sheeran', '÷ (Deluxe)', 89, 3.8952),
 (9, 'Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 94, 4.232),
 (10, 'Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 'Abramyan: Preludes – Rachmaninoff: Sonata No. 2 in B-Flat Minor, Op. 36 – Babadjanyan: Capriccio, Improvisation, Folksong, Elegy, Poem', 26, 4.13822)]

In [17]:
%%sql
SELECT track_name, artist, album, popularity
FROM spotify_tracks
ORDER BY popularity DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 94)]

In [18]:
%%sql
SELECT AVG(popularity) AS average_popularity
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('61.7000'),)]

In [19]:
%%sql
SELECT track_name, artist, duration_minutes
FROM spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/test
3 rows affected.

[('Uprising', 'Muse', 5.08067),
 ('Every Breath You Take', 'The Police', 4.232),
 ('Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 4.13822)]

In [21]:
%%sql
SELECT 
    CASE 
        WHEN popularity >= 80 THEN 'Very Popular'
        WHEN popularity >= 50 THEN 'Popular'
        ELSE 'Less Popular'
    END AS popularity_range,
    COUNT(*) AS track_count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost/test
3 rows affected.

[('Very Popular', 5), ('Popular', 2), ('Less Popular', 3)]